{% extends 'base.html'%}
{%block title %}{% endblock %}
{% block content %}
<h1>«Willovv — это больше, чем одежда. Это ритм большого города, застывший в ткани. Это свобода движения и право на самовыражение без правил.»</h1>
<h3>Директор: Пигорева Арианна
Контакты: +79998884433; email:willovv@gmail.com</h3>

<a
href="https://t.me/wilovvshop">
  <h1>Телеграм канал</h1>
</a>

<h2>Всё началось не в ателье и не на бизнес-встрече. Всё началось на улице. Под открытым небом, где асфальт становится сценой, а граффити — декорациями. Я жила в ритме уличных танцев — в напряжении мышц перед мощным движением, в свисте ветра во время вращения, в энергетике сообщества, где каждый танец — это история.
Именно там, в этих импровизированных джемах, я ощутила главную проблему: не было одежды, которая могла бы угнаться за нами. Одежда либо сковывала движение, либо быстро теряла вид, либо просто не соответствовала нашему духу. Она не была частью культуры — она была просто тканью.
Так родилась идея Willovv. Идея создавать не просто «удобную и повседневную одежду», а вторую кожу для тех, кто двигает городскую культуру вперёд. Для танцоров, скейтеров, художников, музыкантов и всех, кто видит в улице свой главный источник вдохновения.</h2>
{% endblock %}